<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inhuasoft.shserver"
    android:versionCode="569"
    android:versionName="2.569.1089" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="10" />

    <application
        android:name="com.inhuasoft.shserver.IMSDroid"
        android:hardwareAccelerated="false"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:persistent="true" >
        <service android:name="com.inhuasoft.shserver.NativeService" >
        </service>

        <activity
            android:name="com.inhuasoft.shserver.Main"
            android:label="@string/app_name"
            android:launchMode="singleTop" >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name="com.inhuasoft.shserver.Screens.ScreenSplash" />
        <activity android:name="com.inhuasoft.shserver.Screens.ScreenHome" />
        <activity android:name="com.inhuasoft.shserver.Screens.ScreenTabDialer" >
        </activity>
        <activity android:name="com.inhuasoft.shserver.Screens.ScreenTabHistory" >
        </activity>
        <activity android:name="com.inhuasoft.shserver.Screens.ScreenTabInfo" >
        </activity>
        <activity android:name="com.inhuasoft.shserver.Screens.ScreenTabContacts" >
        </activity>
        <activity android:name="com.inhuasoft.shserver.Screens.ScreenTabOnline" >
        </activity>
        <activity android:name="com.inhuasoft.shserver.Screens.ScreenAV" >
        </activity>
        <activity android:name="com.inhuasoft.shserver.Screens.ScreenInterceptCall" >
            <intent-filter>

                <!-- <action android:name="android.intent.action.CALL" /> -->
                <!-- <category android:name="android.intent.category.DEFAULT"/> -->
                <!-- <data android:scheme="sip" /> -->
            </intent-filter>
        </activity>
        <activity android:name="com.inhuasoft.shserver.Screens.ScreenSettings" >
        </activity>
        <activity android:name="com.inhuasoft.shserver.Screens.ScreenTabMessages" >
        </activity>
        <activity android:name="com.inhuasoft.shserver.Screens.ScreenGeneral" >
        </activity>
        <activity android:name="com.inhuasoft.shserver.Screens.ScreenIdentity" >
        </activity>
        <activity android:name="com.inhuasoft.shserver.Screens.ScreenNetwork" >
        </activity>
        <activity android:name="com.inhuasoft.shserver.Screens.ScreenCodecs" >
        </activity>
        <activity android:name="com.inhuasoft.shserver.Screens.ScreenSecurity" >
        </activity>
        <activity android:name="com.inhuasoft.shserver.Screens.ScreenContacts" >
        </activity>
        <activity android:name="com.inhuasoft.shserver.Screens.ScreenPresence" >
        </activity>
        <activity android:name="com.inhuasoft.shserver.Screens.ScreenMessaging" >
        </activity>
        <activity android:name="com.inhuasoft.shserver.Screens.ScreenNatt" >
        </activity>
        <activity android:name="com.inhuasoft.shserver.Screens.ScreenQoS" >
        </activity>
        <activity android:name="com.inhuasoft.shserver.Screens.ScreenAbout" >
        </activity>
        <activity android:name="com.inhuasoft.shserver.Screens.ScreenChat" >
        </activity>
        <activity android:name="com.inhuasoft.shserver.Screens.ScreenFileTransferQueue" >
        </activity>
        <activity android:name="com.inhuasoft.shserver.Screens.ScreenFileTransferView" >
        </activity>
        <activity android:name="com.inhuasoft.shserver.Screens.ScreenAVQueue" >
        </activity>
        <activity android:name="com.inhuasoft.shserver.Screens.ScreenChatQueue" >
        </activity>
        <activity android:name="com.inhuasoft.shserver.Screens.ScreenDevices" >
        </activity>
        <activity
            android:name="com.inhuasoft.shserver.Screens.ScreenLogin"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@style/BaseActivityStyle" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.inhuasoft.shserver.Screens.ScreenMainAV"
            android:screenOrientation="landscape"
            android:theme="@style/BaseActivityStyle"
            android:label="@string/title_activity_screen_main_av" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RAISED_THREAD_PRIORITY" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.audio.low_latency"
        android:required="false" />

</manifest>